header {
    font-size: large;
    font-family: 'Inter_black', sans-serif;
    font-weight: 200;
}

.listbox {
    font-size: 15px;
    font-family: 'Inter_Medium', sans-serif;
}

.Inter_black {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');
}

.Inter_Medium{
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
}

.Inter {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
}

.Section {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    background-color: #79c982;
    font-family: 'Inter_black', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 35px;
    color: white;
}

.label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter_Medium', sans-serif;
}

.button-confirm {
    background-color: #5ccb7f;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter_Medium', sans-serif;
}
