@model ModelViewControllerApp_Rodriguez.Models.Employee

<h2>Calculation Result</h2>
<p>Last Name: @Model.LastName</p>
<p>First Name: @Model.FirstName</p>
<p>City: @Model.City</p>
<p>Total Earnings: @ViewBag.TotalEarnings</p>

<a asp-action="Index">Go Back</a>