@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Script Society</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        nav {
            margin-bottom: 20px;
        }

        .main-section {
            display: flex;
            justify-content: space-between;
        }

            .main-section img {
                width: 100%;            }

        main p {
            width: 50%;
        }

    </style>
</head>
<body>
    <header>
        <h1>Welcome Back Society!</h1>
        <p>Browse the navigation bar to start.</p>
    </header>
    <main>
        <section class="main-section">
            <img src="/images/scriptbanner.jpg" alt="Bedroom Scene">
        </section>
    </main>
</body>
</html>

