/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-wid267ua20] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    width: 10%;
    height: 50%;
}

a[b-wid267ua20] {
  color: #0077cc;
}

.btn-primary[b-wid267ua20] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wid267ua20], .nav-pills .show > .nav-link[b-wid267ua20] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-wid267ua20] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-wid267ua20] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wid267ua20] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wid267ua20] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wid267ua20] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.brand-bg-color[b-wid267ua20] {
    background-color: #000919; /* Replace with your desired color */
}