@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Employee and Payroll Data Sync</h2>
<a href="/Sync/SyncHRToPayroll" class="btn btn-primary">Sync HR -> Payroll</a>
<a href="/Sync/SyncPayrollToHR" class="btn btn-primary">Sync Payroll -> HR</a>
<a href="Employee/Index" class="btn btn-primary">Employees Record</a>
<a href="Payroll/Index" class="btn btn-primary">Payroll Details</a>
